.header {
background-color: #000;
font-family: 'Rock Salt', cursive;
color: #fff;
text-align: center;
font-size: 250%;
}

body {
background-color: #000; 
}

bod {
background-image:url(https://64.media.tumblr.com/5a1fa771f0023f8b25d2b2aac2799fb1/tumblr_or6sknb01H1sk26fao1_1280.jpg);
background-size:cover;
height:100vh;
padding:0;
margin:0;
}

.table1 {
text-align: center;
font-size: 125%;
font-family: courier-new;
}

