
h1 {
margin: 0 auto;
background-color: #fff;
font-family: 'Rock Salt', cursive;
color: black;
text-align: center;
font-size: 100px;
position: fixed;
top: 40%;
left: 50%;
transform: translate(-50%, -50%);
}

#text2, p {
margin: 0 auto;
position: fixed;
top: 60%;
left: 50%;
transform: translate(-50%, -50%);
font-family: 'Bebas Neue', cursive;
font-size: 2em!important;
text-align: center;
letter-spacing: 2px;
}